<!DOCTYPE html>
<html id="drew.firstbourne.com">
  <head>
    <title>{{ page.title }}</title>
    <link rel="alternate" type="application/atom+xml" href="http://feeds2.feedburner.com/drewbourne" />
    <link rel="stylesheet" type="text/css" href="/css/reset.css" charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/css/screen.css" charset="utf-8" />
  </head>
  <body>
    <section>
      <header>
        <a href="/">Drew Bourne</a>
      </header>
      
      {{ content }}
      
    </section>
    <footer>
      <section class="posts">
        <header><h2>Posts</h2></header>
        <ul>
          {% for post in site.posts %}
          <li>
            <span>{{ post.date | date_to_string }}</span> 
            <a href="{{ post.url }}">{{ post.title }}</a>
          </li>
          {% endfor %}
        </ul>
      </section>
      <section id="projects">
        <header><h2>Projects</h2></header>
        <ul>
          <li><a href="http://code.google.com/p/mock-as3/">mock-as3 <span class="desc">Mock Objects for AS3</span></a></li>
          <li><a href="http://github.com/drewbourne/hamcrest-as3/tree/master">hamcrest-as3 <span class="desc">Hamcrest Matchers for ActionScript 3</span></a></li>
          <li><a href="http://github.com/drewbourne/asx/tree/master">asx <span class="desc">Extensions for ActionScript 3 Objects</span></a></li>
          {{ # <li><a href="http://github.com/drewbourne/mockpuppets/tree/master">MockPuppets <span class="desc">Mock Objects</span></a></li> }}
          <li><a href="http://github.com/drewbourne/spectacular/tree/master">Spectacular <span class="desc">TDD/BDD the way I want</span></a></li>
          {{ # <li><a href="http://github.com/drewbourne/gimme/tree/master">Gimme <span class="desc">Creational Helpers</span></a></li> }}
          {{ # <li><a href="http://github.com/drewbourne/faker-as3/tree/master">Faker <span class="desc">Fake Data Generators</span></a></li> }}
        </ul>
      </section>
      <section id="contact">
        <header><h2>Contact</h2></header>
        <ul>
          <li><a href="mailto:drew@firstbourne.com">drew@firstbourne.com</a></li>
          <li><a href="http://twitter.com/drewbourne">twitter.com/drewbourne</a></li>
          <li><a href="http://github.com/drewbourne">github.com/drewbourne</a></li>
          {{ # <li><a href="http://drewbourne.tumblr.com/">drewbourne.tumblr.com</a></li> }}
        </ul>
      </section>
    </footer>
    
    <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
      try {
        var pageTracker = _gat._getTracker("UA-7524913-1");
        pageTracker._trackPageview();
      } catch(err) {}
    </script>
  </body>
</html>